<html>
  <head>
  </head>
  <body>
    <% @tasks.each do |task| %>
    <h2><a href="tasks/<%= task.id %>"><%= task.title %></a></h2> 
    <p><%= task.description %></p>
    <% end %>
  </body>
</html>
