<html>
  <head>
  </head>
  <body>
    <p>Enter a new task</p>
    <form action="new" method="post">
      <input type="text" name="tasks[title]"/><br/>
      <textarea name="tasks[description]">Enter text here</textarea><br/>
      <input type="submit"/>
    </form>
  </body>
</html>
